/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: linear-gradient(45deg, #000000, #363636, #00BFFF,#0000CD);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header img {
    height: 140px; /* Ajuste conforme o tamanho do seu logo */
    margin-left: 20px;
    border-radius: 10%;
    border: 1px solid white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

.banner {
    background-image: url('./images/banner.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 180px 0;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: white;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: white;
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    font-size: 1.1em;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

/* Estilos adicionais conforme necessário */

footer {
    background-color: #00008B;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: #bbb;
}
